#### Lists
Data Structure:

A data structure is a collection of data elements (such as numbers or charactersâ€”or even other data structures) that is structured in some way, for example, by numbering the elements. The most basic data structure in Python is the "sequence".

-> List is one of the Sequence Data structure

-> Lists are collection of items (Strings, integers or even other lists)

-> Lists are enclosed in [ ]

-> Each item in the list has an assigned index value.

-> Each item in a list is separated by a comma

-> Lists are mutable, which means they can be changed.

In [14]:
# emptyList = []

# lst = ['one', 'two', 'three', 'four'] # list of strings

# lst2 = [1, 2, 3, 4] #list of integers

# lst3 = [[1, 2], [3, 4, [78,90,45], {'name':'rahul'}]] # list of lists and dictionary

# lst4 = [1, 'ramu', 24, 1.24] # list of different datatypes

In [26]:
# print(type(emptyList))
# print(isinstance(emptyList, list))
# print(lst4[2])
# print(lst3)
# print(lst3[1][3]['name'])
# print(len(lst3))
# lst3[1][2][0]

78

In [35]:
lst = ['one', 'two', 'three', 'four']

# lst.append(('five','six')) # append will add the item at the end
# lst.append(['five','six',2,3,4,5,6,7]) # append will add the item at the end
# lst.append('five','siz') # append will add the item at the end
# lst.extend(['five','six']) # append will add the item at the end

# print(type(lst[4]))
# print(type(lst))
# print(len(lst))
print(lst)

['one', 'two', 'three', 'four', ('five', 'six')]

In [57]:
input_list = list(range(1,20))
# create a new list with only even number from given list and 
# square it and store in new list.

list1 = []
for num in input_list:
    if num % 2==0:
        list1.append(num ** 2)    
print(list1)

In [40]:
lst = ['one', 'two', 'four']
lst.insert(2,"five") # will add element y at location x
print(lst)

['one', 'two', 'five', 'four']

In [49]:
lst = ['one', 'two', 'three', 'four','two']
a = lst.remove('two') #it will remove first occurence of 'two' in a given list
print(lst)

['one', 'three', 'four', 'two']

In [51]:
print(a)

None

In [47]:
lst = ['one', 'two', 'three', 'four','two']
del lst[2]

In [52]:
lst = ['one', 'two', 'three', 'four', 'five']
#or we can use pop() method
a = lst.pop(1)

In [55]:
a

'two'

In [ ]:
#Membership operator -in and not in

# in and not in
# it will check some value is present or not in our sequence

#keyword 'in' is used to test if an item is in a list
lst = ['one', 'two', 'three', 'four', 'six']
if 'two' in lst:
    print('yes')
#keyword 'not' can combined with 'in'
if 'seven' not in lst:
    print('No')

In [62]:
lst = ['one', 'two', 'three', 'four']
lst.reverse()
# lst[::-1]
print(lst)

# insertion, deletion, membership operator

['four', 'three', 'two', 'one']

In [83]:
# tuple1 = (3,1,2,4,7,8,12,1)
# print(tuple1.sort())

AttributeError: 'tuple' object has no attribute 'sort'

In [84]:
#create a list with numbers
# numbers = [3, 1, 6, 2, 8]
numbers = ['abc','cde','bgh']
# print(sorted(numbers)) #list or tuple returns a sorted list. store in some variable.
new_list = sorted(numbers)
print(new_list)
# print(numbers)

numbers.sort()
# print(numbers)
# print("Sorted list :", sorted_lst)
#original list remain unchanged
# print("Original list: ", numbers)
# numbers.sort()
# sort the original list itself
# print(numbers) 
#print a list in reverse sorted order
# print("Reverse sorted list :", sorted(numbers, reverse=True))

#orginal list remain unchanged
# print("Original list :",  numbers)

['abc', 'bgh', 'cde']

In [71]:
lst = [1, 20, ' ', 5, 'a']
print(lst.sort()) # sort list with element of different datatypes.

TypeError: '<' not supported between instances of 'str' and 'int'

In [88]:
#Multiple Reference
lst = [1, 2, 3, 4, 5]
# abc = lst
abc = lst.copy() # both variable is referencing to the same object
print(lst)
# print(abc)
abc.append(6)
print(abc)
print(lst)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]

In [101]:
# Splitting

# s = "this is a simple string containing few words"
s = "this&is&a python class"


# print(s.split('&'))

str1 = 'New Delhi (3042)'
# str1 = 'New Delhi-3042-19'
# print(str1.split('-'))
# branch_name, branch_code, state_id = str1.split('-')
# print(branch_name, branch_code, state_id)

print(str1.split("(")[0].strip(), str1.split("(")[1].rstrip(')'))

New Delhi 3042

In [ ]:
#Splitting

# s = "one twoth#,ree,four, fiv#e"





# print(list(s))
# slst = s.split()  #default split is white-character: space or tab

# print(s.split('&'))





# print(slst)

# Branch Name
# str1 = 'New Delhi (3042)'
# str1 = 'New Delhi-3042-19'
# str1_list = str1.split('-')
# branch_name, branch_code, state_id = str1.split('-')
# print("branch name is", branch_name)
# print("branch code is", branch_code)
# print("state id", state_id)

# print(str1.split('-'))
# print(str1_list[0], str1_list[2])
# print(str1.split('-')[1])
# print(str1.split('-')[2])
# split_list = str1.split('(')
# print(split_list[1].rstrip(')'))
# str2 = "  this is good notebook)%"
# # print(str2.strip())
# # print(str2.lstrip())
# print(str2.rstrip(')%'))
# print(str2)

In [132]:
# List Slicing

# numbers = [10, 20, 30, 40, 50,60,70,80,90,100,110,120]
numbers = "this is a good house"
#[start : end : skip]

# numbers[1:8:4]
#last value
# numbers[-2]
# numbers[4::3]

# numbers[-3::-3]

# numbers[::]
# numbers[:]
# numbers
print(numbers[:-2:-1])

e

In [ ]:


numbers = "this is a good house"

# [start: end :skip]
# print(numbers[-len(numbers)])
# print(numbers[::])
# print(numbers[:])
print(numbers[-6:-3:])


# print(numbers[:-2:-1])

#print all numbers
# print(numbers[:]) 
# [start:end]  ->

#print from index 0 to index 3
# print(numbers[0:4])

# print(numbers[-3:])

# print (numbers)
#print alternate elements in a list
# print(numbers[::1])

#print elemnts start from 0 through rest of the list
# print(numbers[2::2]) #[start : end : skip]

In [3]:
#concatenation
# extend using "+"
lst1 = [1, 2, 3, 4]
lst2 = ['a','b','c','d']
new_lst = lst1 + lst2 # extend


lst1.extend(lst2)
print(lst1)
print(new_lst)

[1, 2, 3, 4, 'a', 'b', 'c', 'd']
[1, 2, 3, 4, 'a', 'b', 'c', 'd']

In [16]:
string1 = "Python is often used as a support language for software developers, \
for build control and management, testing, and in many other ways. SCons for build control. Buildbot and Apache Gump for automated \
continuous compilation and testing. Roundup or Trac for bug tracking and project management."
# print(string1)
# problem, count the frequency of each word in given string.
# hints -> split, count, loop

# output
# {Python: 2
# is: 5
# ...

# ...
# mahagement : 2}
count_dict = {}
for i in string1.split():
#     print(i,"is present ",string1.count(i)," times")
    count_dict[i] = string1.split().count(i)
    
count_dict    
# print(string1.split())

{'Python': 1,
 'is': 1,
 'often': 1,
 'used': 1,
 'as': 1,
 'a': 1,
 'support': 1,
 'language': 1,
 'for': 5,
 'software': 1,
 'developers,': 1,
 'build': 2,
 'control': 1,
 'and': 5,
 'management,': 1,
 'testing,': 1,
 'in': 1,
 'many': 1,
 'other': 1,
 'ways.': 1,
 'SCons': 1,
 'control.': 1,
 'Buildbot': 1,
 'Apache': 1,
 'Gump': 1,
 'automated': 1,
 'continuous': 1,
 'compilation': 1,
 'testing.': 1,
 'Roundup': 1,
 'or': 1,
 'Trac': 1,
 'bug': 1,
 'tracking': 1,
 'project': 1,
 'management.': 1}

In [7]:
#counting individual entity

numbers = [1, 2, 3, 1, 3, 4, 2, 5]

#frequency of 1 in a list
print(numbers.count(1))

#frequency of 3 in a list
# print(numbers.count(3))

2

In [18]:
# without list comprehension
# squares = []
# for i in range(10):
#     squares.append(i**2)   #list append
# print(squares)


#using list comprehension
squares = [i**2 for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [19]:
#example
lst = [-10, -20, 10, 20, 50]

#create a new list with values doubled
new_lst = [i*2 for i in lst]
print(new_lst)

#filter the list to exclude negative numbers
new_lst = [i  for i in lst   if i >= 0]
print(new_lst)


#create a list of tuples like (number, square_of_number)
new_lst = [(i, i**2) for i in range(10)]
print(new_lst)

[-20, -40, 20, 40, 100]
[10, 20, 50]
[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

In [20]:
#let's suppose we have a matrix
# len(matrix)
# lst.append(row[i])  i =0, 1, 2 ,3
# output of transposed matrix
[
 [1, 5, 9], 
 [2, 6, 10], 
 [3, 7, 11], 
 [4, 8, 12]
]
#transpose of a matrix without list comprehension
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]
# print(matrix)
transposed = []
for i in range(4):    #0,1,2,3
    lst = []
    for r in matrix:
        lst.append(r[i])
    transposed.append(lst)

print(transposed)

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]
[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [21]:
#with list comprehension
transposed = [[row[i] for row in matrix]  for i in range(4)]
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

#### Tuples
-> A tuple is similar to list

-> The diffence between the two is that we can't change the elements of tuple once it is assigned whereas in the list, elements can be changed

In [34]:
#Tuple Creation
#empty tuple
# t = ()

#tuple having integers
# t = (1, 2, 3)
# print(t)
# print(type(t))

# tuple with mixed datatypes
# t = (1, 'raju', 28, 'abc')
# print(t)

#nested tuple
t = (1, (2, 3, 4), [1, 'raju', 28, 'abc'])
# t = [1, (2, 3, 4), (1, 'raju', 28, 'abc')]



# t[3] = 'k'
# t[2][2] = 390987888
# t[2][1] = 'john'
# print(t[2][1])

# print(len(t))
print(t)

TypeError: 'tuple' object does not support item assignment

In [48]:
t = (1, 2, 3,4,5,6,7,8,18,9)
# t[9] = 100
t_list = list(t)
t_list[8] = 100
t = tuple(t_list)
print(t)

(1, 2, 3, 4, 5, 6, 7, 8, 100, 9)

In [ ]:
#only parenthesis is not enough
t = ('abc')
print(type(t))

#need a comma at the end
t = ('abc',)
print(type(t))

#parenthesis is optional
t = "abc",
print(type(t))

print(t)

In [49]:
# Accessing Elements in Tuple

t = ('a', 'b', 'c', 'd', 'e')

print(t[1])
#negative index
print(t[-1]) #print last element in a tuple

#nested tuple
t = ('ABC', ('uvw', 'ring', 'tool'))

print(t[1])

print(t[1][1])

b
e
('uvw', 'ring', 'tool')
ring

In [55]:
# Changing a Tuple

#creating tuple
# t = (1, 2, 3, 4, [5, 6, 7])
t = ['kjhks','h']
# t[2] = 'x' #will get TypeError


print(isinstance(t,list))

True

In [64]:
#Solve a problem-> update 1st value of list to = "yourname" if tuple contains any list otherwise skip
# t1 = (1,2,3,4,['34',343,67])



t1 = (1,2,3,4,['34',343,67],45, 56, ['34',343,67])
# output - (1,2,3,4,['anything',343,67])

# t1 = (1,2,3,4)
# output - (1,2,3,4)

# t1 = (1,2,3,['y'],4)
# output - (1,2,3,['anything'],4)
# Hint : (isinstance(t1,tuple)), (isinstance(t1,list))

count
for value in t1:
    if isinstance(value, list):                
        value[0] = "pr"
        break
        
print(t1)

(1, 2, 3, 4, ['pr', 343, 67], 45, 56, ['34', 343, 67])

In [67]:
#repeat the elements in a tuple for a given number of times using the * operator.
t = (('a','b','c' ) * 4)


# [1,2,3,4] * 4
t = ('abc' * 4)


t = 'abc ' * 40
print(t)

abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc abc

In [ ]:
# Tuple Deletion


del

In [70]:
#Tuple Count
t = (1, 2, 3, 1, 3, 3, 4, 1)
#get the frequency of particular element appears in a tuple
# print(t.count(1))

#Tuple index
print(t.index(1))

0

In [73]:
 #return index of the first element is equal to 3

t = (1, 2, 3, 1, 3, 3, 4, 1)
    
#Membership operator
print(1 in t)
print(7 in t)

#Length
print(len(t))

new_t = sorted(t, reverse = False)
print(new_t) #Take elements in the tuple and return a new sorted list 
             #(does not sort the tuple itself).
    
print(max(t))

print(min(t))

print(sum(t))

True
False
8
[1, 1, 1, 2, 3, 3, 3, 4]
4
1
18

#### Sets
-> A set is an unordered collection of items. Every element is unique (no duplicates).

-> The set itself is mutable. We can add or remove items from it.

-> Sets can be used to perform mathematical set operations like union, intersection, symmetric difference etc.

In [ ]:
#set of integers
# s = {1, 2, 3} 
# print(s)

#print type of s 
# print(type(s))


# print(isinstance(s, set))

#set doesn't allow duplicates. They store only one instance.
# s = {1, 2, 3, 1, 4}
# print(s)

#Set from list or from tuple
s = set((1, 2, 3, 1))
print(s)

In [ ]:
#we can add single element using add() method and 
#add multiple elements using update() method
s = {1, 3}

#set object doesn't support indexing
# print(s[1]) #will get TypeError

s.add(1) # single value
print(s)

# #add multiple elements
s.update([5, 6, 1])
print(s)

# #add list and set
s.update([8, 9], {10, 2, 3})
print(s)

# dir(s)